/Assignments/01. Guess-a-number Game/12.14-Guess_A_Numb/build/
/InClass/New Folder/StringIndexMethods/nbproject/private/
/InClass/New Folder/StringIndexMethods/build/
/InClass/TextFileIO/nbproject/private/
/InClass/TextFileIO/build/
/Assignments/02. Morse Code (GUI)/MorseCode/nbproject/private/